Flask==3.0.3
Flask-Cors==3.0.10
gunicorn==20.1.0
google-api-python-client==2.54.0
google-auth==2.36.0
google-auth-oauthlib==1.2.1
openai==0.28.0
requests==2.32.3
python-dotenv==1.0.1
protobuf==5.29.1
